@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@600;700&display=swap');

.modal-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.modal-content {
    display: flex;
    align-items: center;
    background-color: #1E1F23;
    padding: 20px;
    border-radius: 16px;
    width: 500px;
    height: 850px;
    flex-direction: column;
    gap: 20px;
}

.modal-content h1 {
    color: #FFFFFF;
}

.modal-content label input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: #75767D;
    font-family: 'Poppins', sans-serif;
}

.modal-content label {
    color: #75767D;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 406px;
    padding: 19px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 46px;
    border: 2px solid #F5F5F5;
}

.save-button {
    display: flex;
    width: 460px;
    padding: 19px 24px;
    justify-content: center;
    color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 46px;
    border: 1px solid var(--orange, #FE2E05);
    background: var(--gradient-button, linear-gradient(180deg, #AD2D14 0%, #F42E07 100%));
}

.cancel-button {
    display: flex;
    width: 460px;
    padding: 19px 24px;
    justify-content: center;
    color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 46px;
    background: linear-gradient(180deg, #2E2F36 0%, #17181C 100%),
        linear-gradient(0deg, #17181C, #17181C);
}

@media only screen and (max-height: 932px) {
    .modal-container {
        overflow-y: hidden;
    }
    .modal-content {
        width: 381px;
    }

    .modal-content label {
        width: 330px;
        height: 62px;
    }

    .cancel-button {
        width: 385px;
    }

    .save-button {
        width: 385px;
    }
}