.amigos-card {
    display: flex;
    width: 272px;
    flex-direction: column;
    border: 2px solid var(--gray-gray-600, #2E2F36);
    border-radius: 16px;
    background: var(--gray-gray-700, #1E1F23);
    position: fixed;
    top: 100px;
    right: 36px;
}

.amigos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.amigos-header p {
    padding-left: 20px;
    color: #FFFFFF;
}

.button-img {
    rotate: 180deg;
    transition: transform 0.3s ease;
    padding: 15px;
}

.button-img.with-padding {
    padding-right: 20px;
}

.button-img.rotated {
    transform: rotate(180deg);
}

.amigos-box {
    display: flex;
    width: 272px;
    flex-direction: column;
    border-radius: 16px;
    background: var(--gray-gray-700, #1E1F23);
}

.amigos img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.amigo {
    display: flex;
    align-items: center;
}

@media only screen and (max-height: 932px) {
    .amigos-card {
        display: none;
    }
}